---
import { getCollection, render, getEntries } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const eventos = await getCollection("eventos");
  return eventos.map((evento) => ({
    params: { id: evento.id },
    props: { evento },
  }));
}

const { evento } = Astro.props;
const authors = evento.data.authors ? await getEntries(evento.data.authors) : [];
const { Content } = await render(evento);
---

<PageLayout
  title={`GPUL - ${evento.data.title}`}
  description='Evento de GPUL'
  image={`media/eventos/${evento.id}.png`}
>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 space-y-3"
    id="event-body"
  >
    <h1 class="text-5xl font-semibold">{evento.data.title}</h1>
    {
      evento.data.tags.length > 0 && (
        <div class="flex flex-wrap gap-2 mb-4 mt-2">
          {evento.data.tags.map((tag) => (
            <span class="px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded-full">
              {tag}
            </span>
          ))}
        </div>
      )
    }

        <img
          height="200px"
          src={"/media/eventos/"+evento.id+".png"}
          alt="Póster do evento"
          class="aspect-video rounded-lg"
        />

    <div class="bg-orange-100 border border-orange-500 p-4 rounded-md">
      <ul>
        {evento.data.date &&
          <li><b>Data:</b> {evento.data.date.toLocaleDateString("es-ES")}</li>
          <li><b>Hora:</b> {evento.data.date.getHours()+evento.data.date.getTimezoneOffset()/60}:{("0"+evento.data.date.getMinutes()).slice(-2)}</li>}
        {evento.data.location && <li><b>Lugar:</b> {evento.data.location}</li>}
        {evento.data.authors && <li><b>Poñentes:</b> {authors.map((author,idx)=> <span> <a class="text-blue-600 hover:underline" href={author.data.portfolio} target="_blank">{author.data.name}</a>{idx < authors.length - 1 && ", "}</span>)}</li>}
      </ul>
    </div>
    <Content />
    <br />
  </div>
</PageLayout>
