---
import { getCollection, render } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const eventos = await getCollection("eventos");
  return eventos.map((evento) => ({
    params: { id: evento.id },
    props: { evento },
  }));
}

const { evento } = Astro.props;
const { Content } = await render(evento);
---

<PageLayout
  title=`GPUL - ${evento.data.title}` 
  description=`Evento de GPUL`
>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 space-y-3"
    id="event-body"
  >
    <div class="bg-orange-100 border border-orange-500 p-4 rounded-md">
      <ul>
        {evento.data.date &&
          <li><b>Data:</b> {evento.data.date.toLocaleDateString("UTC")}</li>
          <li><b>Hora:</b> {evento.data.date.toLocaleTimeString("UTC",{hour: 'numeric', minute: 'numeric'})}</li>}
        {evento.data.location && <li><b>Lugar:</b> {evento.data.location}</li>}
        {evento.data.author && <li><b>Poñente:</b> {evento.data.author}</li>}
      </ul>
    </div>
    <h1 class="text-5xl font-semibold">{evento.data.title}</h1>
    {
      evento.data.tags.length > 0 && (
        <div class="flex flex-wrap gap-2 mb-4 mt-2">
          {evento.data.tags.map((tag) => (
            <span class="px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded-full">
              {tag}
            </span>
          ))}
        </div>
      )
    }
    <Content />
    <br />
  </div>
</PageLayout>
