---
import SimpleInput from "./SimpleIntput.astro";

const { class: className } = Astro.props;
---

<div
  class={`bg-gray-100 dark:bg-neutral-800 rounded-2xl p-8 m-auto h-fit ${className}`}
>
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">
    Envíanos unha mensaxe
  </h2>

  <form id="contact-form" class="space-y-6" action="mailto:info@gpul.org" target="_blank">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <SimpleInput name="name" type="text" placeholder="O teu nome">
        Nome
      </SimpleInput>
      <SimpleInput name="surname" type="text" placeholder="Os teus apelidos" disabled>
        Apelidos
      </SimpleInput>
      <SimpleInput
        name="phone"
        type="tel"
        placeholder="123456789"
        class="phone"
        disabled
      >
        Teléfono
      </SimpleInput>
      <SimpleInput name="mail" type="email" placeholder="teu@email.com">
        Email
      </SimpleInput>
    </div>

    <div>
      <SimpleInput
        name="subject"
        type="select"
        placeholder={[
          { value: "outro", text: "Outro" },
          { value: "socio", text: "Solicitud de alta" },
          { value: "evento", text: "Consulta sobre eventos" },
          { value: "colaboracion", text: "Proposta de colaboración" },
          { value: "charla", text: "Propor charla/taller" },
        ]}
      >
        Asunto
      </SimpleInput>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <SimpleInput name="dni" type="text" placeholder="12345678A" disabled>
        DNI/NIE/Pasaporte
      </SimpleInput>
      <SimpleInput name="birth" type="date" disabled> Data de nacemento </SimpleInput>
      <SimpleInput name="address" type="text" disabled> Enderezo completo </SimpleInput>
      <SimpleInput
        name="occupation"
        type="text"
        placeholder="Grao en Enxeñaría Informática"
        disabled
      >
        Profesión ou carreira que estás a estudar
      </SimpleInput>

      <SimpleInput name="udc-student" type="checkbox" required={false} disabled>
        Estudas na UDC
      </SimpleInput>
    </div>
    <SimpleInput
      name="body"
      type="textarea"
      placeholder="Escribe aquí a túa mensaxe..."
    >
      Mensaxe
    </SimpleInput>

    <SimpleInput name="privacy-policy" type="checkbox">
      Acepto a <a
        href="#"
        class="text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300"
        >política de privacidade</a
      >
    </SimpleInput>

    <button
      type="submit"
      formtarget="_blank"
      class="w-full bg-blue-600 dark:bg-blue-400 text-white py-3 px-4 rounded-md hover:bg-blue-700 dark:hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors duration-200 font-medium flex justify-center gap-4"
    >
      Enviar mensaxe
    </button>
  </form>
</div>

{/* Send form data */}
<script is:inline defer data-astro-rerun>
  {
    const form = document.querySelector("#contact-form");

    const toVariants = {
      default: "info@gpul.org",
      socio: "secretaria@gpul.org",
    }
    const bodyVariants = {
      default: data => `${data.get("body")}\n\n- ${data.get("name")}`,
      socio: data => `Hola buenos días, me gustaría asociarme.
  - Nombre: ${data.get("name")}
  - Apellido: ${data.get("surname")}
  - Telefono: ${data.get("phone")}
  - Correo: ${data.get("mail")}
  - DNI: ${data.get("dni")}
  - Fecha de nacimiento: ${data.get("birth")}
  - Ocupación: ${data.get("occupation")}
  - Dirección: ${data.get("address")}
  - Soy de la UDC: ${data.get("udc-student") == "on" ? "Si" : "No"}`
    }

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      let data = new FormData(form)
      let subject = data.get("subject")

      const bodyBuilder = bodyVariants[subject] ?? bodyVariants.default
      const body = bodyBuilder(data)

      const to = toVariants[subject] ?? toVariants.default

      const mailto = encodeURI(`mailto:${to}?subject=Contacto web: ${subject}&body=${body}`)
      window.open(mailto)

    });
  }
</script>

{/* Set the subject of the select automatically from the url params */}
<script is:inline defer data-astro-rerun>
  {
    /** @type {HTMLSelectElement} */
    const select = document.querySelector("#subject select");

    const subjectParam =
      new URLSearchParams(document.location.search).get("asunto") ?? "";

    const options = [...select.options].map((option) => option.value);

    if (options.includes(subjectParam)) {
      select.value = subjectParam;
    }
  }
</script>

{/* React to subject changes */}
<script is:inline defer data-astro-rerun>
  {
    /** @type {HTMLSelectElement} */
    const select = document.querySelector("#subject select");
    /** @type {HTMLFormElement} */
    const form = document.querySelector("#contact-form");

    const formVariants = {
      default: ["name", "mail", "body"],
      socio: [
        "name",
        "surname",
        "phone",
        "mail",
        "dni",
        "birth",
        "address",
        "occupation",
        "udc-student",
      ],
    };

    const formConstants = ["subject", "privacy-policy", ""];

    const setFormElements = () => {
      const selected = select.value;
      const variant = formVariants[selected] ?? formVariants.default;

      for (const element of form.elements) {
        if (formConstants.includes(element.name)) continue;

        const needed = variant.includes(element.name);

        element.parentElement.classList.toggle("hidden", !needed);
        element.disabled = !needed;
      }
    };

    setFormElements();
    select.addEventListener("change", setFormElements);
  }
</script>
