---
import type { Event } from "../content/event.ts";
import Card from "../components/Card.astro";

interface Props {
  content: Event;
  class: string;
}
const { content, class: className } = Astro.props;
---

<div class={`relative ${className}`}>
  <Card
    title={content.data.title}
    excerpt={content.data.excerpt}
    date={content.data.date}
    href={`/eventos/${content.id}`}
    tags={content.data.tags}
  />
  <div class="absolute top-4 right-4">
    <span
      class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"
    >
      Próximamente
    </span>
  </div>
</div>
